html, body{
  height: 100%;
  width: 100%;
  margin: 0;
}

body{
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: #8bbabb;
  height: 100%;
  background-image: url("../media/trees2.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

header{
  padding: 20px;
  color: #c7f0db;
  font-size: 80px;
  text-align: center;
}

#mapid {
  height: 50%;
  width: 50%;
  background: black;
}

#top{
  padding: 0;
  color: #c7f0db;
  font-size: 35px;
  text-align: center;
}
#facts{
  color: #c7f0db;
  font-size: 25px;
  padding: 100px;
  margin-top: 300px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: #6c7b95;
  border-radius: 4px;
}

#problem{
  color: #c7f0db;
  font-size: 25px;
  padding: 75px;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: #6c7b95;
  border-radius: 4px;
  text-align: center;
}

#action, #about, #mission{
  color: #c7f0db;
  font-size: 25px;
  padding: 75px;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: #6c7b95;
  border-radius: 4px;
}

.nav_bar{
  font-family: "Raleway", sans-serif;
  opacity: 0.75;
  background: #464159;
  background-blend-mode: luminosity;
  line-height: 1.8;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  position: fixed;
  bottom:  0;
  border-radius: 2px;
  width: 100%;
}

.nav_button{
  color: #c7f0db;
  font-size: 20px;
  display: inline-block;
  padding: 2px 10px;
  text-align: center;
  text-decoration: none;
}

a:hover, button:hover {
  background-color: #8bbabb;
  color: azure;
  border-radius: 2px;
  opacity: 0.9;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url("../media/trees.jpg");
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("/w3images/parallax2.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/w3images/parallax3.jpg");
  min-height: 400px;
}

#message1 {
  -moz-animation: cssAnimation 1s ease-in;
  /* Firefox */
  -webkit-animation: cssAnimation 1s ease-in;
  /* Safari and Chrome */
  -o-animation: cssAnimation 1s ease-in;
  /* Opera */
  animation: cssAnimation 1s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-duration: 8s;
}

#message2 {
  -moz-animation: cssAnimation 1s ease-in;
  /* Firefox */
  -webkit-animation: cssAnimation 1s ease-in;
  /* Safari and Chrome */
  -o-animation: cssAnimation 1s ease-in;
  /* Opera */
  animation: cssAnimation 1s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-duration: 8s;
  opacity: 0;
  animation-delay: 54s;
}

#message3 {
  -moz-animation: cssAnimation 1s ease-in;
  /* Firefox */
  -webkit-animation: cssAnimation 1s ease-in;
  /* Safari and Chrome */
  -o-animation: cssAnimation 1s ease-in;
  /* Opera */
  animation: cssAnimation 1s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-duration: 8s;
opacity: 0;
  animation-delay: 24s;
}

#message4 {
  -moz-animation: cssAnimation 1s ease-in;
  /* Firefox */
  -webkit-animation: cssAnimation 1s ease-in;
  /* Safari and Chrome */
  -o-animation: cssAnimation 1s ease-in;
  /* Opera */
  animation: cssAnimation 1s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-duration: 8s;
  opacity: 0;
  animation-delay: 40s;
}

#message5 {
  -moz-animation: cssAnimation 1s ease-in;
  /* Firefox */
  -webkit-animation: cssAnimation 1s ease-in;
  /* Safari and Chrome */
  -o-animation: cssAnimation 1s ease-in;
  /* Opera */
  animation: cssAnimation 1s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-duration: 8s;
opacity: 0;
  animation-delay: 62s;
}

#message6 {
  -moz-animation: cssAnimation 1s ease-in;
  /* Firefox */
  -webkit-animation: cssAnimation 1s ease-in;
  /* Safari and Chrome */
  -o-animation: cssAnimation 1s ease-in;
  /* Opera */
  animation: cssAnimation 1s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-duration: 8s;
opacity: 0;
  animation-delay: 48s;
}

#message7 {
  -moz-animation: cssAnimation 1s ease-in;
  /* Firefox */
  -webkit-animation: cssAnimation 1s ease-in;
  /* Safari and Chrome */
  -o-animation: cssAnimation 1s ease-in;
  /* Opera */
  animation: cssAnimation 1s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-duration: 8s;
opacity: 0;
  animation-delay: 16s;
}

#message8 {
  -moz-animation: cssAnimation 1s ease-in;
  /* Firefox */
  -webkit-animation: cssAnimation 1s ease-in;
  /* Safari and Chrome */
  -o-animation: cssAnimation 1s ease-in;
  /* Opera */
  animation: cssAnimation 1s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-duration: 8s;
opacity: 0;
  animation-delay: 32s;
}

#message9 {
  -moz-animation: cssAnimation 1s ease-in;
  /* Firefox */
  -webkit-animation: cssAnimation 1s ease-in;
  /* Safari and Chrome */
  -o-animation: cssAnimation 1s ease-in;
  /* Opera */
  animation: cssAnimation 1s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-duration: 8s;
  animation-delay: 8s;
}


@keyframes cssAnimation {

0%   {opacity: 0;display:none;}
/* 59 sec : start fading in*/
20%   {opacity: 0;display:block;}
/* 60 sec : visible */
40%   {opacity: 1;display:block;}
/* 62 sec : start fading out */
60%   {opacity: 1;display:block;}
/* 63 sec : not visible */
80%   {opacity: 0;display:block;}
/* 64 sec */
100%   {opacity: 0;display:none;}
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}